body.prevent-scroll {
  overflow: hidden;
}

dialog.fxp-dialog {
  --shadow-color: rgb(0 0 0 / 25%);
  --bg-success: #00b42a;
  --bg-error: #e81123;
  font-size: 1rem;
  inline-size: 50%;
  block-size: 75%;
  box-sizing: border-box;
  padding: 0;
  border-radius: 5px;
  border: none;
  resize: both;
  color: var(--text-200);
  background-color: var(--bg-100);
  filter: drop-shadow(0 0 30px var(--shadow-color));
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  /*overflow: visible;*/
}
dialog.fxp-dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.25);
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
}
dialog.fxp-dialog[data-color-mode=dark] {
  --primary-100:#1F3A5F;
  --primary-200:#4d648d;
  --primary-300:#acc2ef;
  --accent-100:#3D5A80;
  --accent-200:#cee8ff;
  --text-100:#FFFFFF;
  --text-200:#e0e0e0;
  --bg-100:#0F1C2E;
  --bg-200:#1f2b3e;
  --bg-300:#374357;
}
dialog.fxp-dialog[data-color-mode=light] {
  --primary-100:#d4eaf7;
  --primary-200:#b6ccd8;
  --primary-300:#3b3c3d;
  --accent-100:#71c4ef;
  --accent-200:#00668c;
  --text-100:#1d1c1c;
  --text-200:#313d44;
  --bg-100:#fffefb;
  --bg-200:#f5f4f1;
  --bg-300:#cccbc8;
}
dialog.fxp-dialog .text-success {
  color: var(--bg-success);
}
dialog.fxp-dialog .bg-success {
  background-color: var(--bg-success);
}
dialog.fxp-dialog .text-error {
  color: var(--bg-error);
}
dialog.fxp-dialog .bg-error {
  background-color: var(--bg-error);
}
dialog.fxp-dialog .popover {
  position: absolute;
  border-radius: 5px;
  padding: 20px;
  background-color: var(--bg-200);
  border: 1px solid var(--bg-300);
  bottom: 20px;
  right: 20px;
  filter: drop-shadow(0 0 10px var(--shadow-color));
}
dialog.fxp-dialog .full-page-prompt {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  inline-size: 100%;
  block-size: 100%;
}
dialog.fxp-dialog .full-page-prompt > .prompt-text {
  font-size: 4em;
  opacity: 50%;
}
dialog.fxp-dialog i[class^=ri-] {
  font-size: 1.5em;
}
dialog.fxp-dialog button {
  background-color: transparent;
}
dialog.fxp-dialog textarea {
  background-color: var(--bg-200);
  min-inline-size: 0;
}
dialog.fxp-dialog textarea:focus {
  background-color: var(--bg-300);
}
dialog.fxp-dialog :is(button, textarea, input) {
  border: none;
  color: inherit;
  font-size: inherit;
  font-family: inherit;
}
dialog.fxp-dialog :is(button, textarea, input):focus {
  color: var(--text-100);
  outline: none;
}
dialog.fxp-dialog .tabs {
  display: flex;
}
dialog.fxp-dialog .tabs > .tab {
  min-inline-size: 80px;
  padding: 10px 15px;
  text-align: start;
}
dialog.fxp-dialog > .window {
  display: grid;
  grid-template-rows: [header] auto [content] 1fr [footer] auto;
  block-size: 100%;
}
dialog.fxp-dialog > .window > .header {
  grid-row: header;
  border-radius: 5px 5px 0 0;
}
dialog.fxp-dialog > .window > .main {
  grid-row: content;
  overflow: hidden;
}
dialog.fxp-dialog > .window > .main > .content {
  block-size: 100%;
  inline-size: 100%;
}
dialog.fxp-dialog > .window > .footer {
  grid-row: footer;
  border-radius: 0 0 5px 5px;
}
dialog.fxp-dialog > .window > :is(.header, .footer) {
  min-block-size: 1.8em;
  display: grid;
  grid-template-columns: [content] 1fr [buttons] auto;
  grid-auto-flow: column;
  background-color: var(--bg-300);
}
dialog.fxp-dialog > .window > :is(.header, .footer) > .content {
  grid-column: content;
  padding: 5px 15px;
  display: flex;
  align-items: center;
}
dialog.fxp-dialog > .window > :is(.header, .footer) > .buttons {
  grid-column: buttons;
  display: grid;
  grid-auto-flow: column;
}
dialog.fxp-dialog > .window > :is(.header, .footer) > .buttons > button {
  min-inline-size: 40px;
}
dialog.fxp-dialog > .window > :is(.header, .footer) > .buttons > button:hover {
  background-color: var(--bg-200);
}
dialog.fxp-dialog > .window > :is(.header, .footer) > .buttons > button:active {
  color: var(--text-100);
  background-color: var(--bg-100);
}
dialog.fxp-dialog > .window > :is(.header, .footer) > .buttons > button.close:hover, dialog.fxp-dialog > .window > :is(.header, .footer) > .buttons > button.close:active {
  background-color: var(--bg-error);
}