dialog#dialog_mg-lyrics > .window > .main > .content {
  display: grid;
  grid-template-rows: [description] auto [tabs] auto [preview] 1fr;
}
dialog#dialog_mg-lyrics > .window > .main > .content > .description {
  grid-row: description;
  padding: 20px 15px;
  display: none;
}
dialog#dialog_mg-lyrics > .window > .main > .content > .tabs {
  grid-row: tabs;
  display: none;
}
dialog#dialog_mg-lyrics > .window > .main > .content > .preview {
  grid-row: preview;
  /*background-image: 
      url("https://www.transparenttextures.com/patterns/grunge-wall.png")
      url(https://www.toptal.com/designers/subtlepatterns/uploads/green_cup.png);*/
  padding: 0;
  scroll-snap-type: y mandatory;
  inline-size: 100%;
  overflow: auto;
  scrollbar-gutter: stable;
  box-shadow: inset 0 0 15px var(--shadow-color);
}
dialog#dialog_mg-lyrics > .window > .main > .content > .preview > .lyrics-group {
  display: grid;
  padding: 40px;
  grid-auto-flow: column;
  -moz-column-gap: 20px;
       column-gap: 20px;
  block-size: 100%;
  inline-size: 100%;
  box-sizing: border-box;
  scroll-snap-align: center;
  scroll-snap-stop: always;
  filter: drop-shadow(0 0 20px var(--shadow-color));
}
dialog#dialog_mg-lyrics .lyrics-box {
  border-radius: 5px;
  overflow: hidden;
  display: grid;
  grid-template-rows: auto 1fr;
}
dialog#dialog_mg-lyrics .lyrics-box > textarea {
  resize: none;
  padding: 20px;
}
dialog#dialog_mg-lyrics .lyrics-box > .header {
  background-image: linear-gradient(to right, var(--primary-100), var(--primary-200));
  min-block-size: 40px;
  color: var(--primary-300);
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 1fr auto;
}
dialog#dialog_mg-lyrics .lyrics-box > .header > .content {
  font-size: 1.5em;
  font-weight: 700;
  padding: 5px 15px;
  align-items: center;
}
dialog#dialog_mg-lyrics .lyrics-box > .header > button {
  min-inline-size: 40px;
  font-size: 1.25em;
  color: var(--primary-300);
  background-color: transparent;
  border: none;
}
dialog#dialog_mg-lyrics .lyrics-box > .header > button:hover {
  background-color: rgba(0, 0, 0, 0.25);
}
dialog#dialog_mg-lyrics .lyrics-box > .header > button:active {
  background-color: rgba(0, 0, 0, 0.5);
}